version: '2'
services:
  fizic:
    user: "${UID}:${GID}"
    container_name: lab-container_fizic_1
    privileged: true
    tty: true
    hostname: "fizic"
    networks:
      1-network:
        ipv4_address: 10.10.10.1
      2-network:
        ipv4_address: 11.11.11.1
      3-network:
        ipv4_address: 12.12.12.1
    build:
      context: ./fizic/
      dockerfile: ./Dockerfile
    cap_add:
      - ALL
  internet:
    user: "${UID}:${GID}"
    container_name: lab-container_internet_1
    privileged: true
    tty: true
    hostname: "internet"
    networks:
      1-network:
        ipv4_address: 10.10.10.2
      2-network:
        ipv4_address: 11.11.11.2
      3-network:
        ipv4_address: 12.12.12.2
    build:
      context: ./internet/
      dockerfile: ./Dockerfile
    cap_add:
      - ALL
  ssh:
    user: "${UID}:${GID}"
    container_name: lab-container_ssh_1
    privileged: true
    tty: true
    hostname: "ssh"
    networks:
      1-network:
        ipv4_address: 10.10.10.3
      2-network:
        ipv4_address: 11.11.11.3
      3-network:
        ipv4_address: 12.12.12.3
    build:
      context: ./ssh/
      dockerfile: ./Dockerfile
    cap_add:
      - ALL
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    environment:
      - DISPLAY
  openvpn-client1:
    privileged: true
    container_name: lab-container_openvpn-client1_1
    hostname: "openvpn-client1"
    devices:
      - "/dev/net/tun:/dev/net/tun"
    networks:
      1-network:
        ipv4_address: 10.10.10.15
    build:
      context: ./openvpn-client1/
      dockerfile: ./Dockerfile
      extra_hosts:
        - "openvpn:10.10.10.50"
    cap_add:
      - ALL
  openvpn-client2:
    privileged: true
    container_name: lab-container_openvpn-client2_1
    hostname: "openvpn-client2"
    devices:
      - "/dev/net/tun:/dev/net/tun"
    networks:
      2-network:
        ipv4_address: 11.11.11.15
    build:
      context: ./openvpn-client2/
      dockerfile: ./Dockerfile
      extra_hosts:
        - "openvpn:11.11.11.50"
    cap_add:
      - ALL
  dhcp:
    privileged: true
    container_name: lab-container_dhcp_1
    image: networkboot/dhcpd
    hostname: "dhcp"
    networks:
      1-network:
        ipv4_address: 10.10.10.100
      2-network:
        ipv4_address: 11.11.11.100
      3-network:
        ipv4_address: 12.12.12.100
    volumes:
      - ./dhcp/data:/data
  openvpn:
    privileged: true
    container_name: lab-container_openvpn_1
    image: kylemanna/openvpn
    hostname: "openvpn"
    networks:
      1-network:
        ipv4_address: 10.10.10.50
      2-network:
        ipv4_address: 11.11.11.50
      3-network:
        ipv4_address: 12.12.12.50
    volumes:
      - ./openvpn/:/etc/openvpn
networks:
  1-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.10.10.0/24
          gateway: 10.10.10.253
    driver_opts:
      com.docker.network.bridge.name: br1
      icc: "true"
  2-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 11.11.11.0/24
          gateway: 11.11.11.253
    driver_opts:
      com.docker.network.bridge.name: br2
      icc: "true"
  3-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 12.12.12.0/24
          gateway: 12.12.12.253
    driver_opts:
      com.docker.network.bridge.name: br3
      icc: "true"
